.top_banner{
    background: linear-gradient(to bottom right, rgb(13, 161, 207), rgb(9, 119, 144));
    font-size: 55px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px 4px rgb(95, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    margin: 0;
    background: rgb(26, 26, 26);
}

.banner_buttons{
    display: flex;
    align-items: center;
    height: 100%;

}

.banner_buttons button {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(13, 161, 207), rgb(9, 119, 144));
    border-bottom: 0px;
    border-top: 0px;
    font-size: 25px;
    border-left: 2px solid black;
    border-right: none;
    transition-duration: 0.2s;
    font-family: "Libre Baskerville", monospace;
}

.banner_buttons button:hover {
    background: linear-gradient(to bottom right, rgb(110, 192, 217), rgb(9, 119, 144));
    box-shadow: 0px 10px 10px 4px rgb(74, 74, 74);
    transform: scale(1.08);
}

.banner_buttons button:active {
    background: linear-gradient(to bottom right, rgb(166, 218, 234), rgb(9, 119, 144));
    box-shadow: 0px 2px 5px 2px rgb(74, 74, 74);
}

.name{
    margin-left: 20px;
    font-family: "Google Sans Code", monospace;
    font-weight: 500;
    color: #232323;
}

.Q{
    color: rgb(210, 7, 7);
}

.text{
    padding: 10px;
    font-family: "Tiktok Sans";
}

.text_box{
    background: linear-gradient(to bottom right, rgb(13, 161, 207), rgb(8, 111, 134));
    margin-top: 30px;
    padding: 4px;
    box-shadow: 0px 3px 10px 4px rgb(95, 95, 95);
    font-size: 25px;
}

.banner_buttons_about{
    display: flex;
    align-items: center;
    height: 100%;

}

.banner_buttons_about button {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    text-align: center;
    justify-content: center;
    border-bottom: 0px;
    border-top: 0px;
    font-size: 25px;
    border-left: 2px solid black;
    border-right: none;
    transition-duration: 0.2s;
    font-family: "Libre Baskerville", monospace;
}

.top_button_about_1 {
    background: linear-gradient(to bottom right, rgb(13, 161, 207), rgb(9, 119, 144));
    height: 100%;
}

.top_button_about_2{
    background: linear-gradient(to bottom right, rgb(133, 211, 235), rgb(45, 171, 199));
    transform: scale(1.04);
}

.Impact{
    font-size: 90px;
    color: white;
    margin-left: 80px;
    font-family: "Tiktok Sans", monospace;
}
